<main class="axe-agilite-main">
    <section class="section">
        <div class="container-fluid">
            <div class="row first-row px-5 pt-4">
                <div class="col-8">
                    <h3 class="top-title"><b>Bienvenue sur le</b> Tableau de bord - Optimisation</h3>
                    <p style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicingsapiente quibusdam iste aspernatur dolor</p>
                </div>

                <div class="col-4">
                    <select class="form-control float-right department">
                        <option>Département DD</option>
                        <option>Département DSI</option>
                        <option>Département DSC</option>
                        <option>Département ARQ</option>
                        <option>Département etc</option>
                    </select>
                </div>
            </div>

            <div class="row px-5 py-3 secnd-row">
                    <div class="col-9" >
                        <p><img src="./assets/img/pe2022/icone-axe-1.svg" style=" position: absolute; left: 0px; top: 0px; z-index: 5;"> <span class="agilite-span"><strong> Agilité</strong> / Transformer Sonatel en une organisation agile, ouverte et orientée client</span></p>
                    </div>
    
                    <div class="col-3">
                            <div class="float-right" style="margin-top: 4px;">
                                <img src="./assets/img/pe2022/icone-axe-2.svg">&nbsp;&nbsp;
                                <img src="./assets/img/pe2022/icone-axe-3.svg">&nbsp;&nbsp;
                                <img src="./assets/img/pe2022/icone-axe-4.svg">&nbsp;&nbsp;
                                <img src="./assets/img/pe2022/icone-axe-5.svg">&nbsp;&nbsp;
                                <img src="./assets/img/pe2022/icone-axe-6.svg">
                            </div>
                    </div>
                </div>
            <div class="row px-5 py-3 third-row">
                <div class="col left-col">
                    <div class="row py-3 inner-row-1">
                       
                        <h3 class="agileatwork pl-4">Agile@Work</h3>
                       
                       <div class="row mx-auto no-gutters">
                            <div class="col">
                                <label>Relation client</label>
                                <div class="my-card">
                                    1/5
                                </div>
                            </div>
                            <div class="col">
                                <label>Relations humaines</label>
                                <div class="my-card">
                                        4/5
                                </div>
                            </div>
                            <div class="col">
                                <label>Pratiques agiles</label>
                                <div class="my-card">
                                        2/5
                                </div>
                            </div>
                            <div class="col">
                                <label>Management</label>
                                <div class="my-card">
                                        5/5
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="row py-3 inner-row-2">
                            <h3 class="agileatwork pl-4">NPS manager</h3>
                    </div>
                    <div class="row py-3 inner-row-3">
                            <h3 class="agileatwork pl-4">Acculturation - Retrospectives</h3>
                            <div class="row pl-1">
                               <div class="col-sm-12">
                                    <div class="progress-wrapper">
                                    <div class="progress-info">
                                        <div class="progress-label">
                                        <span>Taux d’atteinte  par rapport à l'objectif annuel</span>
                                        </div>
                                        <div class="progress-percentage">
                                        <span style="color: black;">&nbsp; &nbsp; 60%</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                    </div>
                               </div>
                            </div>
                    </div>
                </div>
                <div class="col py-3 right-col">
                        <h3 class="agileatwork">Pilotage de l'expérience client Orange</h3>
                     <div class="row" style="margin-top:20px;">
                            <div class="col">
                                    <select class="form-control float-right">
                                        <option>Orange et moi</option>
                                        <option>Orange et moi</option>
                                        <option>Orange et moi</option>
                                        <option>Orange et moi</option>
                                    </select>
                                </div>
        
                                <div class="col">
                                    <select class="form-control float-right">
                                        <option>Tous les parcours</option>
                                        <option>Tous les parcours</option>
                                        <option>Tous les parcours</option>
                                        <option>Tous les parcours</option>
                                    </select>
                                </div>
                     </div>
                     <div class="row" style="min-height: 280px;margin-top:35px;">

                     </div>

                     <h3 class="agileatwork" style="margin-top: 20px;margin-bottom: 10px">Instant feedback</h3>
                     <div class="row mx-auto">
                        <div class="col" style="min-height: 130px; border-radius: 6px; background-color: #F7F7F7;margin-right: 10px;padding-top: 7px;">
                            <p style="font-weight: bold; color: black; font-size:0.8rem;">Vieux Mamadou Kassé</p>
                            <label>
                                    Woooow ! Juste formidable !
                                    J’ai pu acheter du crédit via l’application en un temps record !
                                    Pluie de Kudo à vous Orange !! Si Kanam rek !
                            </label>
                        </div>
                        <div class="col" style="min-height: 130px; border-radius: 6px; background-color: #F7F7F7;padding-top: 7px;">
                            <p style="font-weight: bold; color: black; font-size:0.8rem;">Aïssatou Gningue</p>
                            <label>
                                    J’ai trouvé le parcours de transfert
                                     SOS un peu long, je pense que vous gagneriez
                                    mieux à le faire en 2 étapes maximum !
                            </label>
                        </div>
                     </div>
                </div>
            </div>
           
        </div>
    </section>
</main>
      