.navbar-white {
    background-color: white;
}
.nav-link {
    color:rgba(0, 0, 0, 0.5) !important;
}

.navbar-toggler{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.btn {
    font-size: 0.7rem;
}