<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned navbar-white" style="padding:0px;">
  <div class="container"style="margin:0; padding:0px; max-width: 100%;">
    <div  style="width:100px;">
      <a class="navbar-brand mr-lg-1" [routerLink]="['/admin/vue360']">
        <img src="./assets/img/pe2022/logo-pe2022.jpg" style="height:70px;">
      </a>
    </div>
    <div style="width:100%; text-align:center; font-size:20px;">
Sonatel en 2022, un groupe résolument  orienté client, partenaire privilégié de la transformation numérique de nos sociétés.
    </div>
    <div style="width:200px; text-align:center;">
       <img src="./assets/img/pe2022/profil-picture@3x.png" width="60">
      <br>Sékou Dramé
    </div>
  </div>
</nav>
