<main class="vue360-main">
    <section class="section">
        <div class="container-fluid">
            <div class="row first-row px-5 pt-4">
                <div class="col-8">
                    <h3 class="top-title"><b>Bienvenue sur le</b> Tableau de bord - Backoffice</h3>
                    <p style="color: black !important;">Lorem ipsum dolor sit amet consectetur adipisicingsapiente quibusdam iste aspernatur dolor</p>
                </div>
            </div>

            <div class="row px-5 mt-5">
                <div class="col-md-3 col-xs-12 theme-column mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/excel.png" class="top-left-picto"> &nbsp;Agilités</h3>
                    <p class="theme-details">Accès au fichier de suivi des indicateurs du chantier Agilité</p><br>
                    <a href="https://docs.google.com/spreadsheets/d/19T32zwXOjqvRwzlbVBfjsdOWqf5SFPo8y6APeq1o3vg/edit?usp=sharing" target="_blank"><span class="view-more">Editer le fichier <i class="fa fa-arrow-right"></i></span></a><br>
                </div>
                <!-- <div class="col-md-3 col-xs-12 theme-column mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/excel.png"  width="50" height="50"  class="top-left-picto"> &nbsp;Multiservices</h3>
                    <p class="theme-details">Devenir un opérateur multiservices grâce à une politique active de partenariat dans l'écosystème numérique</p><br>
                    <a routerLink="/admin/multiservices"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
                <div class="col-md-3 col-xs-12 theme-column  mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/excel_1.png"  width="50" height="50" class="top-left-picto"> &nbsp;Partenaires</h3>
                    <p class="theme-details">Être le partenaire préféré et de confiance de nos parties prenantes majeures</p>
                    <a routerLink="/admin/partenaires"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
                <div class="col-md-3 col-xs-12 theme-column  mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/excel_1.png"  width="50" height="50" class="top-left-picto"> &nbsp;Partenaires</h3>
                    <p class="theme-details">Être le partenaire préféré et de confiance de nos parties prenantes majeures</p>
                    <a routerLink="/admin/partenaires"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div> -->
            </div>
           
          
        </div>
    </section>
</main>