<main class="vue360-main">
    <section class="section">
        <div class="container-fluid">
            <div class="row first-row px-5 pt-4">
                <div class="col-8">
                    <h3 class="top-title"><b>Bienvenue sur le</b> Tableau de bord - Backoffice</h3>
                    <p style="color: black !important;">Lorem ipsum dolor sit amet consectetur adipisicingsapiente quibusdam iste aspernatur dolor</p>
                </div>
            </div>

            
           
          
        </div>
    </section>
</main>