<main class="vue360-main">
    <section class="section">
        <div class="container-fluid">
            <div class="row first-row px-5 pt-4">
                <div class="col-12">
                    <h4  style="text-align:center;">
                        <b>Sonatel en 2022</b>, un groupe résolument  orienté client, partenaire privilégié de la transformation numérique de nos sociétés.
                    </h4>
                    <!--p style="color: black !important;">Lorem ipsum dolor sit amet consectetur adipisicingsapiente quibusdam iste aspernatur dolor</p-->
                </div>

                <!-- <div class="col-4">
                    <select class="form-control float-right department">
                        <option>Département DD</option>
                        <option>Département DSI</option>
                        <option>Département DSC</option>
                        <option>Département ARQ</option>
                        <option>Département etc</option>
                    </select>
                </div> -->
            </div> 

            <div class="row px-0 mt-0">

                <div class="col-8 px-2 mt-2" ><!--Colonne gauche container chantiers-->
                    
                    <div class="row px-5 mt-5">

                        <div class="col col-xs-12 theme-column mr-4">
                            <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-1.svg" class="top-left-picto"> &nbsp;Résolument Orienté Client</h3>   
                            <div class="row" style="height:200px;">
                                <div class="col-md-7">
                                    <p class="theme-details">
                                        <img src="./assets/img/pe2022/gisele.png" width="75"> <br><b>GISELE POUYE</b><br> Coordonatrice<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                            <div class="row">
                                Transformer Sonatel en une organisation agile, ouverte et orientée client
                            </div>
                            <a routerLink="/admin/axe-agilite"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a><br>
                        </div>
                        <div class="col col-xs-12 theme-column mr-4">
                            <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-2.svg"  width="50" height="50"  class="top-left-picto"> &nbsp;Connectivité Enrichie</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="theme-details"><img src="./assets/img/pe2022/therese.png" ALIGN="top" width="75">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                            <a routerLink="/admin/multiservices"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                        </div>

                    </div>

                    <div class="row px-5 mt-5">
                            <div class="col col-xs-12 theme-column  mr-4">
                                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-3.svg"  width="50" height="50" class="top-left-picto"> &nbsp;Multiservices et partenariats actifs</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="theme-details"><img src="./assets/img/pe2022/ogn.png" ALIGN="top" width="75">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                                    <a routerLink="/admin/partenaires"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                                </div>
                        <div class="col theme-column  mr-4" >
                            <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-4.svg"  width="50" height="50"  class="top-left-picto"> &nbsp;Organisation agile, ouverte et innovante</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="theme-details"><img src="./assets/img/pe2022/racky.png" ALIGN="top" width="75">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                            <a routerLink="/admin/politique-rh"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                        </div>
                        
                    </div>


                    <div class="row px-5 mt-5">
                            <div class="col theme-column  mr-4">
                                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-5.svg"  width="50" height="50" class="top-left-picto"> &nbsp;Croissance rentable</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="theme-details"><img src="./assets/img/pe2022/boly.png" ALIGN="top" width="75">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                                    <a routerLink="/admin/connectivite"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                                </div>
                                <div class="col theme-column  mr-4">
                                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-6.svg"  width="50" height="50" class="top-left-picto"> &nbsp; Politique RH et Compétences</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="theme-details"><img src="./assets/img/pe2022/traore.png" ALIGN="top" width="75">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                                    <a routerLink="/admin/optimisation"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                                </div>
                    </div>

                    <div class="row px-5 mt-5">
                            <div class="col theme-column  mr-4">
                                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-5.svg"  width="50" height="50" class="top-left-picto"> &nbsp;Partenaire préféré et de confiance</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="theme-details"><img src="./assets/img/pe2022/karim.png" ALIGN="top" width="75">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                                </div>
                                <div class="col-md-5">
                                        <iframe width="100%" height="150" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe> 
                                    </div>
                            </div>
                                    <a routerLink="/admin/connectivite"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                                </div>
                            <div class="col theme-column  mr-4" style="background-color: #CDD4E0">
                            </div>
                    </div>


                </div><!--Fin Colonne gauche container chantiers-->

                <div class="col-4 px-2 mt-2"><!--Colonne droite container graphe-->

                    <div class="col col-xs-12 theme-column mr-4" style="background-color: #ffffff">
                        <h3 class="black-end-bold">EVOLUTION GLOBAL DU PE 2022</h3>
                        <iframe width="100%" height="300" src="https://datastudio.google.com/embed/reporting/1v_UBSuwxOfGg75GMg1qUdsi2ZLLt6f8H/page/KPww" frameborder="0" style="border:0"></iframe>
                        <p></p>
                        <h3 class="black-end-bold" style="font-size:14px;"><img src="./assets/img/pe2022/graph.png" class="top-left-picto"> &nbsp;TAUX AVANCEMENT GLOBAL DES CHANTIERS</h3>
                        <iframe width="100%" height="300" src="https://datastudio.google.com/embed/reporting/1M-8cOMEDFadYaae3-CW_6sN-NC-0USB3/page/Usyw" frameborder="0" style="border:0"></iframe>
                        <p></p>
                        <h3 class="black-end-bold" style="font-size:14px;"><img src="./assets/img/pe2022/graph.png" class="top-left-picto"> &nbsp;TAUX AVANCEMENT DES ACTIONS ECHUES</h3>
                        <iframe width="100%" height="300" src="https://datastudio.google.com/embed/reporting/1891aoqdAM-uJnXuGbBhFpYaAuwSgCw8P/page/f7yw" frameborder="0" style="border:0"></iframe>
                    </div>

                </div><!--Fin Colonne droite container graphe-->



                
            </div>

          
        </div>
    </section>
</main>