<main class="vue360-main">
    <section class="section">
        <div class="container-fluid">
            <div class="row first-row px-5 pt-4">
            </div> 

            <div class="row px-0 mt-0">

                <div class="col-8 px-2 mt-2" ><!--Colonne gauche container chantiers-->
                    
                    <div class="row px-3 mt-4">

                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe1.png" class="top-left-picto" width="40"> &nbsp;Résolument Orienté Client &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               <a routerLink="/admin/axe2-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                            <div class="row"  style="height:100px;">
                                <div class="col-md-2" style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/gisele.png" HEIGHT="60"> <br><b>Gisèle POUYE</b><br> Coordonnatrice<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Devenir une organisation résolument orientée client 
                                    </div>
                                <div class="col-md-4" style="padding:0px; margin:0px;">
                                    <app-graphe4></app-graphe4> 
                                    </div>
                            </div>
                       </div>
                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe2.png" class="top-left-picto" width="40"> &nbsp;Connectivité enrichie et création de valeur &nbsp;
                                <a routerLink="/admin/axe4-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                          <div class="row" style="height:100px;">
                                <div class="col-md-2"style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/therese.png" HEIGHT="60"> <br><b>Thérèse TOUNKARA</b><br> Coordonnatrice<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Ouvrir notre connectivité enrichie au service de la transformation numérique en favorisant la création de valeur pour les parties prenantes 
                                    </div>
                                <div class="col-md-4"style="padding:0px; margin:0px;">
                                    <app-graphe7></app-graphe7>  
                                    </div>
                            </div>
 
                        </div>

                    </div>
                    <div class="row px-3 mt-4">

                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe3.png" class="top-left-picto" width="40"> &nbsp;Multiservices et partenariats actifs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="/admin/axe3-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                            <div class="row"  style="height:100px;">
                                <div class="col-md-2" style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/ogn.png" HEIGHT="60"> <br><b>Omar G. Ndiaye</b><br> Coordonnateur<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Devenir un opérateur multiservices grâce à une politique active de partenariat dans l’écosystème numérique
                                    </div>
                                <div class="col-md-4" style="padding:0px; margin:0px;">
                                    <app-graphe></app-graphe>  
                                    </div>
                            </div>
                       </div>
                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe4.png" class="top-left-picto" width="40"> &nbsp;Organisation agile, ouverte et innovante &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a routerLink="/admin/axe5-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                            <div class="row" style="height:100px;">
                                <div class="col-md-2"style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/racky.png" HEIGHT="60"> <br><b>Racky S. Wane</b><br> Coordonnatrice<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Transformer Sonatel en une organisation Agile, ouverte et innovante
                                    </div>
                                <div class="col-md-4"style="padding:0px; margin:0px;">
                                          <app-graphe9></app-graphe9>  
                                    </div>
                            </div>
 
                        </div>

                    </div>
                    <div class="row px-3 mt-4">

                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe5.png" class="top-left-picto" width="40"> &nbsp;Croissance rentable &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="/admin/axe1-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                            <div class="row"  style="height:100px;">
                                <div class="col-md-2" style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/boly.png" HEIGHT="60"> <br><b>Boly TRAORE</b><br> Coordonnateur<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Réaliser des économies grâce à une meilleure maitrise de nos charges 
                                    </div>
                                <div class="col-md-4" style="padding:0px; margin:0px;">
                                    <app-graphe5></app-graphe5>  
                                    </div>
                            </div>
                       </div>
                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe6.png" class="top-left-picto" width="40"> &nbsp;Politique RH et Compétences &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="/admin/axe-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                            <div class="row" style="height:100px;">
                                <div class="col-md-2"style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/traore.png" HEIGHT="60"> <br><b>Ibrahima Traoré</b><br> Coordonnateur<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Rénover la politique RH et aligner les compétences à la nouvelle ambition 
                                    </div>
                                <div class="col-md-4"style="padding:0px; margin:0px;">
                                    <app-graphe8></app-graphe8>
                                    </div>
                            </div>
 
                        </div>

                    </div>
                    <div class="row px-3 mt-4">

                        <div class="col col-xs-12 theme-column mr-3">
                            <h3 class="black-end-bold" style="padding:0px; margin:0px;"><img src="./assets/img/pe2022/IconeAxe7.png" class="top-left-picto" width="40"> &nbsp;Partenaire préféré et de confiance &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="/admin/axe6-agilite"><span style="color:#ff6600;"><i class="fa fa-arrow-right"></i></span></a>
                            </h3>  
                            <div class="row"  style="height:100px;">
                                <div class="col-md-2" style="padding:5px; margin:0px;">
                                    <p class="theme-details" style="font-size:7px;">
                                        <img src="./assets/img/pe2022/karim.png" HEIGHT="60"> <br><b>Karime Mbengue</b><br> Coordonnateur<br><br>
                                    </p><br>
                                </div>
                                <div class="col-md-6" style="font-size:12px;padding:5px; margin:0px;">
                                        Etre le partenaire préféré et de confiance de nos parties prenantes majeures 
                                    </div>
                                <div class="col-md-4" style="padding:0px; margin:0px;">
                                    <app-graphe6></app-graphe6> 
                                    </div>
                            </div>
                       </div>
                        <div class="col col-xs-12 theme-column mr-3" style="background-color: #CDD4E0">
                        </div>

                    </div>


                </div><!--Fin Colonne gauche container chantiers-->

                <div class="col-4 px-3 mt-2"><!--Colonne droite container graphe-->

                    <div class="col col-xs-12 theme-column mr-4" style="background-color: #0FA296; text-align:center;">
                        <h3 class="black-end-bold">EVOLUTION GLOBALE DU PE 2022</h3>
                         <div style="background-color: white">
                              <app-graphe3></app-graphe3> 
                         </div>
                        <p></p>
                        <h3 class="black-end-bold" style="font-size:14px;"><img src="./assets/img/pe2022/graph.png" class="top-left-picto"> &nbsp;TAUX AVANCEMENT PAR CHANTIER</h3>
                        <div style="background-color:  white">
                            <app-graphe2></app-graphe2>
                        </div>
                        <p></p>
                        <h3 class="black-end-bold" style="font-size:14px;"><img src="./assets/img/pe2022/graph.png" class="top-left-picto"> &nbsp;TAUX AVANCEMENT DES ACTIONS ECHUES</h3>
                            
                       <!--<iframe width="100%" height="300" src="https://datastudio.google.com/embed/reporting/1891aoqdAM-uJnXuGbBhFpYaAuwSgCw8P/page/f7yw" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                             <div style="background-color: white;">
                                <app-graphe10></app-graphe10>
                             </div>
                    </div>

                </div><!--Fin Colonne droite container graphe-->



                
            </div>

          
        </div>
    </section>
</main>