<main class="vue360-main">
    <section class="section">
        <div class="container-fluid">
            <div class="row first-row px-5 pt-4">
                <div class="col-8">
                    <h3 class="top-title"><b>Bienvenue sur le</b> Tableau de bord - Vue 360 °</h3>
                    <p style="color: black !important;">Lorem ipsum dolor sit amet consectetur adipisicingsapiente quibusdam iste aspernatur dolor</p>
                </div>

                <!-- <div class="col-4">
                    <select class="form-control float-right department">
                        <option>Département DD</option>
                        <option>Département DSI</option>
                        <option>Département DSC</option>
                        <option>Département ARQ</option>
                        <option>Département etc</option>
                    </select>
                </div> -->
            </div>

            <div class="row px-5 mt-5">
                <div class="col col-xs-12 theme-column mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-1.svg" class="top-left-picto"> &nbsp;Agilités</h3>
                    <p class="theme-details">Transformer Sonatel en une organisation agile, ouverte et orientée client</p><br>
                    <a routerLink="/admin/axe-agilite"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a><br>
                </div>
                <div class="col col-xs-12 theme-column mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-2.svg"  width="50" height="50"  class="top-left-picto"> &nbsp;Multiservices</h3>
                    <p class="theme-details">Devenir un opérateur multiservices grâce à une politique active de partenariat dans l'écosystème numérique</p><br>
                    <a routerLink="/admin/multiservices"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
                <div class="col col-xs-12 theme-column  mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-3.svg"  width="50" height="50" class="top-left-picto"> &nbsp;Partenaires</h3>
                    <p class="theme-details">Être le partenaire préféré et de confiance de nos parties prenantes majeures</p>
                    <a routerLink="/admin/partenaires"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
            <div class="row px-5 mt-5">
                <div class="col theme-column  mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-4.svg"  width="50" height="50"  class="top-left-picto"> &nbsp;Politique RH</h3>
                    <p class="theme-details">Rénover la politique RH et aligner les compétences à la nouvelle ambition</p><br>
                    <a routerLink="/admin/politique-rh"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
                <div class="col theme-column  mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-5.svg"  width="50" height="50" class="top-left-picto"> &nbsp;Connectivité</h3>
                    <p class="theme-details">Ouvrir notre connectivité enrichie au service de la transformation numérique en favorisant la création de valeur pour les parties prenantes</p><br>
                    <a routerLink="/admin/connectivite"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
                <div class="col theme-column  mr-4">
                    <h3 class="black-end-bold"><img src="./assets/img/pe2022/icone-axe-6.svg"  width="50" height="50" class="top-left-picto"> &nbsp;Optimisation</h3>
                    <p class="theme-details">Optimisation des charges </p>
                    <a routerLink="/admin/optimisation"><span class="view-more">Voir les détails <i class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
          
        </div>
    </section>
</main>